<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beaux.thomas.base">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.apps.drive.APP_ID"
            android:value="id=730280224137" />

        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityManagement"
            android:label="@string/create_act"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beaux.thomas.base.HomeScreen" />
        </activity>
        <activity
            android:name=".InputStat"
            android:parentActivityName=".HomeScreen">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity
            android:name=".ViewActivity"
            android:label="@string/title_activity_view"
            android:launchMode="singleTop"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beaux.thomas.base.HomeScreen" />
        </activity>
        <activity
            android:name=".DataAnalytics"
            android:label="@string/title_activity_graph_view"
            android:parentActivityName=".ViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beaux.thomas.base.HomeScreen" />
        </activity>
        <activity
            android:name=".StatisticsPage"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".DataAnalytics"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beaux.thomas.base.DataAnalytics" />
        </activity>
        <activity
            android:name=".Timer"
            android:label="@string/title_activity_timer"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beaux.thomas.base.HomeScreen" />
        </activity>

        <activity
            android:name=".GoogleDriveAPI"
            android:label="@string/title_activity_export"
            android:parentActivityName=".ViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beaux.thomas.base.ViewActivity" />
        </activity>
        <activity
            android:name=".GPS"
            android:label="@string/title_activity_gps"
            android:parentActivityName=".InputStat"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beaux.thomas.base.InputStat" />
        </activity>
        <activity
            android:name=".ImagePicker"
            android:label="Image"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Input"
            android:label="@string/title_activity_input"
            android:parentActivityName=".ViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="beaux.thomas.base.ViewActivity" />
        </activity>
    </application>

</manifest>